trigger: none

pool: agent-ka-jhoond

stages:
# ================= INIT / FMT / VALIDATE =================
- stage: initial
  displayName: "init-fmt-validate"
  jobs:
  - job: initial
    steps:
    - task: TerraformInstaller@1
      displayName: Terraform Install
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environments'
        backendServiceArm: 'kk-service-connection'
        backendAzureRmOverrideSubscriptionID: 'c46beff3-d22c-4a6f-82a7-693fd94c69c4'
        backendAzureRmResourceGroupName: 'kk-rg'
        backendAzureRmStorageAccountName: 'kkstorageaccn1234'
        backendAzureRmContainerName: 'kkcontainer'
        backendAzureRmKey: 'new.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environments'

    - task: TerraformTask@5
      displayName: Terraform FMT
      inputs:
        provider: 'azurerm'
        command: 'custom'
        commandOptions: 'fmt -recursive'
        outputTo: 'console'

# ================= PLAN =================
- stage: plan
  displayName: "plan"
  jobs:
  - job: plan
    steps:
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environments'
        backendServiceArm: 'kk-service-connection'
        backendAzureRmResourceGroupName: 'kk-rg'
        backendAzureRmStorageAccountName: 'kkstorageaccn1234'
        backendAzureRmContainerName: 'kkcontainer'
        backendAzureRmKey: 'new.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environments'
        environmentServiceNameAzureRM: 'kk-service-connection'

# ================= MANUAL APPROVAL =================
- stage: manual_validation
  displayName: "manual_approval"
  jobs:
  - job: approval
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'kundanec7@gmail.com'
        instructions: 'Please approve to proceed with Terraform Apply'

# ================= APPLY =================
- stage: apply
  displayName: "apply"
  jobs:
  - job: apply
    steps:
    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environments'
        backendServiceArm: 'kk-service-connection'
        backendAzureRmResourceGroupName: 'kk-rg'
        backendAzureRmStorageAccountName: 'kkstorageaccn1234'
        backendAzureRmContainerName: 'kkcontainer'
        backendAzureRmKey: 'new.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Environments'
        environmentServiceNameAzureRM: 'kk-service-connection'
